<!DOCTYPE html>
<html>

<head>
  <%- include('header'); %>
  <title><%= title %></title>
</head>

<body>
  <%- include('menu');%>

  <h1><%= title %></h1>

  <p>Velkommen til <%= title %></p>
  <p>Dette er en liten app som demonstrerer en enkel CRUD (Create - Retrieve, Update, Delete) anvendt på en database med
    kontakter</p>


</body>

</html>