<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/eggplant/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

    <title><%= title %></title>

</head>

<body>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "lengthMenu": "Vis _MENU_ rader per side",
                    "zeroRecords": "Ingenting funnet - sorry",
                    "info": "Viser side _PAGE_ av _PAGES_",
                    "infoEmpty": "Ingen rader funnet",
                    "search": "Søk",
                    "oPaginate": {
                        "sFirst": "Første",
                        "sPrevious": "Forrige",
                        "sNext": "Neste",
                        "sLast": "Siste"
                    },
                    "infoFiltered": "(filtrert fra _MAX_ rader totalt)"
                }

            });
        });
    </script>

    <%- include('menu') %>

    <h1><%= title %> <button onclick="document.location='nykontakt'" class="btn btn-primary">Ny kontakt</button></h1>
    <section id="table" style="width:600px;">
        <table id="myTable" class="stripe hover">
            <thead>
                <tr>
                    <th id="ID">ID</th>
                    <th id="Navn">Navn</th>
                    <th id="Epost">Epost</th>
                    <th id="Tel">Telefon</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < kontakter.length; i++) { %>
                <tr>
                    <td><%= kontakter[i].ID %></td>
                    <td><%= kontakter[i].Navn %></td>
                    <td><%= kontakter[i].Epost %></td>
                    <td><%= kontakter[i].Telefon %></td>
                    <td align="center"><img src="http://cdn.onlinewebfonts.com/svg/img_96165.svg" onclick="slett('<%= kontakter[i].Navn %>',<%= kontakter[i].ID %>)" style="width:20px;"></td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th id="ID">ID</th>
                    <th id="Navn">Navn</th>
                    <th id="Epost">Epost</th>
                    <th id="Tel">Telefon</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

    </section>

<script>

function slett(navn,person_id) {

    var y = confirm("Vil du virkelig slette "+navn+"?");
    if(y==true) {
        document.location = "kontakter/delete/"+person_id+"";
    }

}

</script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>