<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('header'); %>
    <title><%= title %></title>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('#personer').DataTable({
                "language": {
                    "lengthMenu": "Vis _MENU_ rader per side",
                    "zeroRecords": "Ingenting funnet - sorry",
                    "info": "Viser side _PAGE_ av _PAGES_",
                    "infoEmpty": "Ingen rader funnet",
                    "search": "Søk",
                    "oPaginate": {
                        "sFirst": "Første",
                        "sPrevious": "Forrige",
                        "sNext": "Neste",
                        "sLast": "Siste"
                    },
                    "infoFiltered": "(filtrert fra _MAX_ rader totalt)"
                }

            });

            $('#firma').DataTable({
                "language": {
                    "lengthMenu": "Vis _MENU_ rader per side",
                    "zeroRecords": "Ingenting funnet - sorry",
                    "info": "Viser side _PAGE_ av _PAGES_",
                    "infoEmpty": "Ingen rader funnet",
                    "search": "Søk",
                    "oPaginate": {
                        "sFirst": "Første",
                        "sPrevious": "Forrige",
                        "sNext": "Neste",
                        "sLast": "Siste"
                    },
                    "infoFiltered": "(filtrert fra _MAX_ rader totalt)"
                }

            });
        });
    </script>

    <%- include('menu') %>

    <h1><%= title %> <button onclick="document.location='nykontakt'" class="btn btn-primary">Ny kontakt</button></h1>
    
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-md-8 col-lg-6">
                <h3 class="mb-4">Personer</h3>

        <table id="personer" class="stripe hover" >
            <thead>
                <tr>
                    <th id="ID">ID</th>
                    <th id="Navn">Navn</th>
                    <th id="Epost">Epost</th>
                    <th id="Tel">Telefon</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < kontakter.length; i++) { %>
                <tr>
                    <td><%= kontakter[i].ID %></td>
                    <td><%= kontakter[i].Navn %></td>
                    <td><%= kontakter[i].Epost %></td>
                    <td><%= kontakter[i].Telefon %></td>
                    <td align="center"><img src="http://cdn.onlinewebfonts.com/svg/img_96165.svg"
                            onclick="slett('<%= kontakter[i].Navn %>',<%= kontakter[i].ID %>)" style="width:20px;"></td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th id="ID">ID</th>
                    <th id="Navn">Navn</th>
                    <th id="Epost">Epost</th>
                    <th id="Tel">Telefon</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

        

    </div>
    <div class="col-md-8 col-lg-6">
        <h3 class="mb-4">Firma</h3>


        <table id="firma" class="stripe hover" >
            <thead>
                <tr>
                    <th id="ID">ID</th>
                    <th id="Navn">Firmanavn</th>
                    <th id="Epost">Epost</th>
                    <th id="Tel">Telefon</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for(let a = 0; a < firma.length; a++) { %>
                <tr>
                    <td><%= firma[a].ID %></td>
                    <td><%= firma[a].Firmanavn %></td>
                    <td><%= firma[a].Epost %></td>
                    <td><%= firma[a].Telefon %></td>
                    <td align="center"><img src="http://cdn.onlinewebfonts.com/svg/img_96165.svg"
                            onclick="slett('<%= firma[a].Firmanavn %>',<%= firma[a].ID %>)" style="width:20px;"></td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th id="ID">ID</th>
                    <th id="Navn">Navn</th>
                    <th id="Epost">Epost</th>
                    <th id="Tel">Telefon</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

       

    </div>


</div>



    <script>

        function slett(navn, person_id) {

            var y = confirm("Vil du virkelig slette " + navn + "?");
            if (y == true) {
                fetch("slett/" + person_id + "")
                    .then(function (response) {
                        return response.text().then(function (text) {
                            alert(text);
                        })
                            .then(function (response) {
                                document.location = 'kontakter';
                            });

                    })
                }
            }

    </script>


   
</body>

</html>