<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('header'); %>
    <title><%= title %></title>

</head>

<body>

    <%- include('menu'); %>

    <div class="container">
        <h1><%= title %></h1>


        <section id="kontaktskjema">

            <form id="nyKontakt" name="nyKontakt" method="POST" action="nykontakt">
                <fieldset>

                    <div class="form-group">
                        <label for="fornavn">Fornavn: </label>
                        <input id="fornavn" class="form-control form-control-sm" type="text" name="fornavn"
                            required autofocus placeholder="Kontaktens fornavn">
                    </div>
                    <div class="form-group">
                        <label for="etternavn">Etternavn: </label>
                        <input id="etternavn" class="form-control form-control-sm" type="text" name="etternavn"
                           required placeholder="Kontaktens etternavn">
                    </div>
                    <div class="form-group">
                        <label for="epost">Epost: </label>
                        <input id="epost" class="form-control form-control-sm" type="email" name="epost"
                            placeholder="Kontaktens epost">
                        <small id="emailHelp" class="form-text text-muted">Vi vil aldri dele epostadressen din med
                            noen</small>
                    </div>
                    <div class="form-group">
                        <label for="tel">Telefon: </label>
                        <input id="tel" class="form-control form-control-sm" type="text" name="tel"
                            placeholder="Kontaktens telefonnummer">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Registrer kontakt" >
                </fieldset>
            </form>

            <p></p>
            <% if (message != "") { %>
            <div id="message" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <%  }  %>


            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Legg til ny kontakt</h4>
                <p>Fyll inn skjemaet og klikk <b>Registrer kontakt</b> for å registrere en ny kontakt</p>
                <hr>
                <p class="mb-0">Nye kontakter lagres i databasen og er synlige med en gang</p>
            </div>

        </section>
    </div>


</body>

</html>